$primary-color: #131415;
$secondary-color: #25F193;
$black: #343434;
$dark-black: #1A1A1A;
$gradient: linear-gradient(to top, $primary-color, $secondary-color);
$black-gradient: linear-gradient(-225deg, $dark-black, $black);

.banner_section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(19,20,21,.5), rgba(255,255,255, .5)), url('../images/banner.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  z-index: -1;
  &_subtitle{
    text-transform: uppercase;
    letter-spacing: 3pt;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .banner_title{
    --x-shadow: 0;
    --y-shadow: 0;
    --x:50%;
    --y:50%;
    font-size: 4rem;
    transition: all 0.2s ease;
    position: relative;
    padding: 2rem;
    &:hover{
      transition: all 0.2s ease;
      text-shadow: var(--x-shadow) var(--y-shadow) 10px $dark-black;
    }
      p{
      position: absolute;
      top: 2rem;
      left: 2rem;
      background-image: radial-gradient(circle closest-side, rgba(white, 0.05), transparent);
      background-position: var(--x) var(--y);
      background-repeat: no-repeat;
      text-shadow: none;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.1s ease;
      }
  }
}
