body {
  background-color: #131415 !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

p {
  font-size: 16px !important;
}

.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.title:hover, .main-title:hover {
  text-decoration: none;
}

.main-title, .title {
  font-family: 'Poiret One', cursive;
  text-decoration: none;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
  text-align:center;
}

.title {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.jump::before {
  content: "";
  display: block;
  height: 180px; /* fixed header height*/
  margin: -50px 0 0; /* negative fixed header height */
}

.content-wrapper {
  color: white !important;
  padding-bottom: 70px;
}

.content-wrapper h2 {
  text-transform: uppercase;
}

.content-wrapper p {
  font-size: 18px;
}
